<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Fleet Maintenance</display-name>

  <servlet>
    <servlet-name>MaintenanceServlet</servlet-name>
    <servlet-class>dev.oyeyemi.it.web.MaintenanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaintenanceServlet</servlet-name>
    <url-pattern>/app/maintenance/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>dev.oyeyemi.it.web.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/app/report</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
